.main {
    display: flex;
    justify-content: space-around;
}
.container1 {
    width: 250px;
    text-align: center;
    font-weight: bolder;
    padding: 10px;
    border-style: double;
    background-color: rgb(63, 84, 151);
}
.container2 {
    width: 250px;
    text-align: center;
    font-weight: bolder;
    padding: 10px;
    border-style: double;
    background-color: rgb(255, 148, 166);
}
h3 {
    background-color: rgb(12, 41, 136);
    font-family: serif;
    color: aliceblue;
}
p {
    padding: 5px 5px;
    margin: 5px;
}
span {
    border: none;
    
}
.para2 {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px;
    
}
.para2:hover {
    background-color: rgb(245, 234, 221);
   
}
.container3 {
    width: 250px;
    text-align: center;
    font-weight: bolder;
    padding: 10px;
    border-style: double;
    background-color: rgb(219, 49, 49);
}